
table.lined, table.lined thead th, table.lined td {
  border: 1px solid!important; /* Forgive me Father, for I have sinned. */
}
table.lined tbody th {
  border: 1px solid!important; /* Forgive me Father, for I have sinned. */
}

table.redscale th {
  background-color: rgb(170, 60, 60)!important; /* Forgive me Father, for I have sinned. */
  color: black!important; /* Forgive me Father, for I have sinned. */
}
table.redscale td  {
  background-color: white!important; /* Forgive me Father, for I have sinned. */
  color: black!important; /* Forgive me Father, for I have sinned. */
}


table.grayscale, table.grayscale thead th {
  background-color: rgb(181, 178, 178)!important; /* Forgive me Father, for I have sinned. */
  color: black!important; /* Forgive me Father, for I have sinned. */
}
table.grayscale tbody th {
  background-color: rgb(215, 215, 215)!important; /* Forgive me Father, for I have sinned. */
  color: black!important; /* Forgive me Father, for I have sinned. */
}

table.grayscale td  {
  background-color: white!important; /* Forgive me Father, for I have sinned. */
  color: black!important; /* Forgive me Father, for I have sinned. */
}


table.word-break {
  word-break: normal!important; /* Forgive me Father, for I have sinned. */
}

table.center-text, table.center-text th, table.center-text td {
  text-align: center!important; /* Forgive me Father, for I have sinned. */
}


table.td-padding td {
  padding: 10px 10px 10px 10px;
}

table.no-wrap {
  white-space: nowrap;
}